<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required Google Fonts -->
    {% include 'main/fonts.html' %}

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
    <link href="{% static 'css/dihh.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>

    <title>Digital Intervention in Handicraft and Handloom - NIELIT KOHIMA</title>

    <style>
    body {
      background-image: url({% static 'images/background.jpg' %});
      background-position: center;
      background-size: cover;
    }
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <!-- Background image -->
        {% comment %} <div class="bg-image" style="background-image: url({% static 'images/background.jpg' %}); height: 100vh;">        </div> {% endcomment %}
        <!-- Background image -->
        
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
          <div class="card xl-6 hover-shadow" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'images/form-wizard-1.jpg' %}" alt="..." class="img-fluid"/>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title border text-center">REGISTRATION</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  </body>
</html>