{% extends "main/base.html" %}


{% block content %}
{% load static %}

<div class="row bg-white justify-content-center">
    <div class="col col-md-8 align-self-center" style="min-height: 80vh;">
    <!-- Tab Menu Starts here -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#projectTab" type="button" role="tab" aria-controls="home" aria-selected="true">Project</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#targetsTab" type="button" role="tab" aria-controls="profile" aria-selected="false">Targets</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#deliverablesTab" type="button" role="tab" aria-controls="contact" aria-selected="false">Deliverables</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#abtNielit" type="button" role="tab" aria-controls="contact" aria-selected="false">About NIELIT</button>
    </li>
    </ul>
    <!-- Tab Menu Ends here -->

    <!-- Tabs Start Here-->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="projectTab" role="tabpanel" aria-labelledby="home-tab">
            <!-- As a heading -->
            <hr>
            <nav class="navbar navbar-light pt-10 bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1" style="font-family: 'EB Garamond', serif;text-align:center;"><strong>Title of the Project</strong></span>
                </div>
            </nav>
            <blockquote class="blockquote">
                <p><center><mark style="font-family: 'Taviraj', serif;"><strong>Digital Intervention on Handicraft & Handloom Sector for Livelihood enhancement of artisans of NE States</strong></mark></center></p>
            </blockquote>
            <p style="font-family: 'Zilla Slab', serif; font-size: 18px; text-align: justify;">Digital NE Vision document 2022 Chapter No 3. Digital Empowerment Clause No. 5 : Skill development and career opportunity  proposed to take up initiatives in some of the centres to improve livelihood in the area of handloom, handicraft, textiles, tourism, horticulture, food processing and bamboo etc. through training program in the use of relevant digital technologies.</p>
            <hr>
            <nav class="navbar navbar-light pt-10 bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1" style="font-family: 'EB Garamond', serif;"><strong>Aims & Objectives</strong></span>
                </div>
            </nav>
            <p style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">The region holds unlimited potential for development in the area of handloom and handicraft abounds in resources that have the potential to render a progressive outlook. The handlooms and handcrafts products not just mirror the region's culture and tradition but also play a major role in employing a vast majority of artisans and crafts-persons.</p>
            <p style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">Handloom and handicraft primarily thrive, yet there's much that can be done to lessen the day to day rigours in the lives of people of the North East and to impart economic stability to them.</p>
            <ul style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">
                <li>To setup Digital enabled Common Facility Centre at Nagaland for the handloom and handicraft artisans of NE States.</li>
                <li>To make traditional artisans and rural entrepreneurs competitive and provide support for their long term sustainability and economy of scale</li>
                <li>To enhance the marketability of cluster products by supporting new products, design intervention and improved packaging as well as improving marketing infrastructure</li>
                <li>To tap e-commerce as a major marketing channel given the outreach and growing market penetration of e-commerce, there is a need to devise a quick strategy to make its presence felt in the e-retail space by development of an e-commerce platform for marketing of the handloom and handicraft products</li>
                <li>Development of e-contents and   documentary film on Handloom & Handicraft Products preparation & procedural methodology for sharing the entire technically process flow/ technological intervention/all machine operation through the developed self-learning content with hands-on training</li>
                <li>To equip traditional artisans of the associated clusters with improved skills and capabilities through training</li>
                <li>To reinforce cluster governance systems with active stakeholder participation, and make them able to gauge and react to rising challenges and opportunities coherently</li>
                <li>To build up innovated and traditional skills, improved technologies, advanced processes, market intelligence and new models of public-private partnerships, to gradually replicate similar models of cluster-based regenerated traditional industries.</li>
                <li>To look for setting up of multi-product cluster with an integrated value chain and a strong market-driven approach for viability and long term sustainability of the cluster</li>
                <li>To ensure convergence from the design stage with each activity of the cluster formation and operations thereof. </li>
                <li>Digital storing of simple local motifs and develop into artistic patterns for future references.</li>
                <li>To identify and understand the cluster's target customers, their needs and aspirations and develop and present product lines to meet the requirement. The substantial focus should be on the buyer segment that places a premium on natural, eco-friendly, ethically sourced and the uniqueness of the artisanal products.</li>
                <li>To develop specific product lines out of the currently offered heterogeneous products based on the understanding of the target consumer group.</li>
                <li>To make a substantial investment in product design and quality improvement. Quality of inputs and processes need standardization so that the product meets quality standards. Research is essential to develop new textures and finishes to suit current market trends.</li>
                <li>To make a paradigm shift from a supply-driven selling model to a market-driven model with the right branding, focus product mix and correct positioning and right pricing to make the offering holistic and optimal for each of the focus categories.</li>
                <li>To make provision for common facilities and improved IT tools and equipment for artisans to promote optimum utilization of infrastructure facilities</li>
            </ul>
            <hr>
            <nav class="navbar navbar-light pt-10 bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" style="font-family: 'EB Garamond', serif;"><strong>Location of the Project</strong></span>
            </div>
            </nav>
            <p style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">Initial phase of this project will be acting as a pilot project at the district level inside the Nagaland. After, successful completion of the pilot project, the further enhancement will be extended to all Northeastern States.</p>
            <hr>
            <nav class="navbar navbar-light pt-10 bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1 text-center" style="font-family: 'EB Garamond', serif;"><strong>Duration & Target to Train</strong></span>
            </div>
            </nav>
            <p style="font-family: 'Zilla Slab', serif;font-size: 18px;">Tenure of the Pilot Project will be 3 Yrs as per project proposal.</p>
            <hr>
            {% comment %} <a href="#" title="Mahatma Gandhi quote"><img src="//www.azquotes.com/picture-quotes/quote-the-object-of-basic-education-is-the-physical-intellectual-and-moral-development-of-mahatma-gandhi-128-96-90.jpg" alt="The object of basic education is the physical, intellectual and moral development of children through the medium of handicraft. - Mahatma Gandhi"></a> {% endcomment %}
        </div>

        <div class="tab-pane fade" id="targetsTab" role="tabpanel" aria-labelledby="profile-tab">
        <hr>
        <nav class="navbar navbar-light pt-10 bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-family: 'EB Garamond', serif;text-align:center;"><strong>Targets under Project</strong></span>
        </div>
        </nav>
        <table class="table table-bordered border-primary" style="font-family: 'Zilla Slab', serif;font-size: 18px;">
            <tr>
                <th>S.No.</th>
                <th>Training Programmes</th>
                <th>Target</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Digital Literacy ( basic of computers, internet usage and digital payments) </td>
                <td>4000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Digital Photography and Scanning</td>
                <td>400</td>
            </tr>
            <tr>
                <td>3</td>
                <td>CAD/CAM technology</td>
                <td>400</td>
            </tr>
            <tr>
                <td>4</td>
                <td colspan="2">
                    <table class="table table-bordered border-primary">
                        <tr>
                            <th colspan="2">IT based Capacity building  for different crafts</th>
                        </tr>
                        <tr>
                            <td>a)	Weaving</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>b)	Dyeing & Finishing</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>c)	Training for Cane/bamboo/wood artisans</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>d)	Design and product development</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>e)	Software based Design/Motif  development</td>
                            <td>200</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td colspan="2">
                    <table class="table table-bordered border-primary">
                        <tr>
                            <th colspan="2">Entrepreneurship & Soft Skill development</th>
                        </tr>
                        <tr>
                            <td>a)	Marketing skills, branding, advertising, supply chain and logistics</td>
                            <td rowspan="7">380</td>
                        </tr>
                        <tr>
                            <td>b)	Quality checks & control measures</td>
                            
                        </tr>
                        <tr>
                            <td>c)	Intellectual property Rights (Geographical Indication, Design Rights, Copyright, Trademark, etc)</td>
                            
                        </tr>
                        <tr>
                            <td>d)	Packaging techniques for various types of products</td>
                            
                        </tr>
                        <tr>
                            <td>e)	IT based Business management skills</td>
                            
                        </tr>
                        <tr>
                            <td>f)	Online transaction and security.</td>
                            
                        </tr>
                        <tr>
                            <td>g) Soft Skill: customers service, leadership skills, effective communication, presentation skills, team work.</td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th></th>
                <th>Total</th>
                <th>5920</th>
            </tr>
        </table>
        </div>

        <div class="tab-pane fade" id="deliverablesTab" role="tabpanel" aria-labelledby="contact-tab">
        <hr>
        <nav class="navbar navbar-light pt-10 bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-family: 'EB Garamond', serif;text-align:center;"><strong>Targets under Project</strong></span>
        </div>
        </nav>
        <ol style="list-style-type:lower-roman;font-family: 'Zilla Slab', serif;font-size: 18px;line-height:1.8;text-align: justify;">
            <li>Setup Digital enabled Common Facility Centre at NIELIT Kohima Nagaland for the handloom and handicraft artisans of NE States.</li>
            <li>Awareness workshop for 1000 artisans on design development, product development and e-marketing of handloom and handicraft.</li>
            <li>Training of 5920 tribal youths and women practising either handloom or handicrafts from Nagaland in Digital enabled courses. Out of which 380 as Trained the Trainer/Entrepreneurs.  The short term skill oriented courses are as follows</li>
            <li>Modernization & Modification of Handloom & Handicraft Products using IT and IT based machineries and promoting the products globally by Dynamic Web Portal with e-commerce facilities & Mobile banking for worldwide marketability</li>
            <li>Envisages to conduct Entrepreneurship Development Programme for intensive training on Capacity Building, backward-forward linkages and handholding support with Banking organization like NABARD and with CSR activities of reputed organisation</li>
            <li>Development of e-content and documentary film on Handloom & Handicraft Products preparation & procedural methodology for sharing the entire technically process flow/ technological intervention/all machine operation through the developed self-learning content with hands-on training.</li>
        </ol>
        </div>

        <div class="tab-pane fade" id="abtNielit" role="tabpanel" aria-labelledby="contact-tab">
        <hr>
        <nav class="navbar navbar-light pt-10 bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-family: 'EB Garamond', serif;text-align:center;"><strong>About NIELIT Kohima</strong></span>
        </div>
        </nav>
        <p style="font-family: 'Zilla Slab', serif; font-size: 18px; text-align: justify;">National Institute of Electronics & Information Technology (NIELIT), Kohima with its stately architecture surrounded by lush verdant and picturesque rolling hills has world-class infrastructure that facilitates excellence in IECT-related teaching, training and other professional activities, besides involving in Research & Development work, Consultancy services and Software Development. It is a national level technical Institute under NIELIT, an autonomous scientific body of the Ministry of Communications & IT, Govt. of India set up in the year 2004.</p>
        <p style="font-family: 'Zilla Slab', serif; font-size: 18px; text-align: justify;">NIELIT Kohima also aspires to be a hub of innovative activity and is continuously on the lookout for opportunities to collaborate with organisations in government, the public and private sectors and other academic institutions to create, disseminate and apply computer knowledge and practices. NIELIT as an institute offers training program to improve employment opportunities and facilitate availability of quality IT manpower, which will contribute to the growth of IT industry in the region particularly in Nagaland. A special feature of NIELIT is the provision of a balanced amalgamation of formal and non-formal sector courses with the aim to provide opportunities for education and training in the field of IECT.</p>
        </div>
    </div>
    <!-- Tab Ends Here-->
    </div>
</div>

{% endblock  %}