{% extends "main/base.html" %}


{% block content %}
{% load static %}

<div class="row bg-white justify-content-center">
    <div class="col-8 align-self-center" style="min-height: 80vh;">
    <nav class="navbar navbar-light pt-10 my-2 bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-family: 'EB Garamond', serif;text-align:center;"><strong>Disclaimer</strong></span>
        </div>
    </nav>
    <p style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">This official website of the NIELIT has been developed to provide information to the general public. The documents and information displayed in this website are for reference purposes only and does not purport to be a legal document.</p>
    <p style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">In case of any variance between what has been stated and that contained in the relevant Prospectuses(Guidelines for Authorized Institutes, Syllabi for various courses, etc.), Policy Statements etc. , the latter shall be prevail.</p>
    <p style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">Unless otherwise specifically stated, the information contained herein is made available to the public by NIELIT (an autonomous body of the Ministry of Electronics and Information Technology, Ministry of Communications & Information Technology, Govt. of India.) for information only.</p>
    <p style="font-family: 'Zilla Slab', serif;font-size: 18px;text-align: justify;">Neither the NIELIT, Ministry of Electronics & Information Technology, Government of India (GoI) nor any other agency or entities thereof, assume any legal liability or responsibility for the accuracy completeness or usefulness of any information.</p>
    </div>
</div>


{% endblock %}