{% extends "trainings/base.html" %}
{% load static %}

{% block content %}
<!-- sidebar starts -->
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style="width:200px;right:0;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Certificates</a>
  <a href="#" class="w3-bar-item w3-button">Feedback</a>
  <a href="#" class="w3-bar-item w3-button">Community Form</a>
</div>
<!-- sidebar ends -->

<div class="w3-main" style="margin-right:200px">
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-right w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container w3-tangerine">
    <h1>Training Portal</h1>
  </div>
</div>

<div class="w3-container" style="min-height: 75vh">
    <p>In this example, the side navigation will always be displayed on desktop computers and laptops (screens wider than 992px), and hidden on tablets and mobile phones (screens that are less than 992px wide).</p>
    <p>On tablets and mobile phones the side navigation is replaced with a menu icon that opens the navigation pane when clicked on: it will then overlay/sit on top of the page content.</p>
    <p><b>Resize the browser window to understand how it works.</b></p>
</div>

</div>

{% endblock  %}